<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>component</title>
    </head>
    <body>
        <div id="app">
            <btn></btn>
        </div>
        <div id="app2">
            <!-- <btn></btn> 报错 -->
            <btn2></btn2>
        </div>

        <!-- 定义组件 -->
        <template id="btn">
            <button>按钮</button>
        </template>
        <template id="btn2">
            <button>按钮2</button>
        </template>
        <script src="../vue.js"></script>
        <script>
            // Vue.config.KeyCodes
            var btn2 = {
                template: '#btn2',
            };
            // 全局注册,可以在app或app2中使用
            // Vue.component('组件名',组件值)
            Vue.component('btn2', btn2);
            var btn = {
                template: '#btn',
            };
            // 局部注册,只能在app中使用
            new Vue({
                el: '#app',
                data() {
                    return {};
                },
                components: {
                    btn,
                },
            });

            new Vue({
                el: '#app2',
            });
        </script>
    </body>
</html>
